.header {display: flex; justify-content: space-between; background-color: #d2cdc13d}
.logo img {width: 200px;}
.navitem {padding:20px; font-size: 20px;}
.navitem .menu {display: flex;}
.navitem .menu li {list-style:none; margin: 5px; padding: 5px;}

.search-bar {display: flex; flex-wrap: wrap; justify-content: center; padding: 20px 0px; margin: auto;}
.search-name { margin: 20px 0px; padding: 0 10px;  font-size: 20px; border-radius: 25px; }
.search-submit { margin: 20px; padding: 10px; border-radius: 16px;}

.resto-list {display: flex; flex-wrap: wrap; } 
.cartImage img {width: 100%; height: 250px;     border-radius: 16px; overflow: hidden;}
.rest-cart {margin: 5px; padding: 5px; background-color: #cccccc26; width: 260px;}
.rest-cart:hover{ background-color: #d7d6d6; cursor: pointer;}
.filter-btn-round {margin: 20px; padding: 10px; border-radius: 16px; cursor: pointer;}
